html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

html {
    font-size: 12px;
    -webkit-text-size-adjust: none;
    color: #6F6F6F;
    background-color: #ffffff;
}

body {
    min-height: 100%;
    height: auto;
    width: 100%;
    background: #fff;
    letter-spacing: 0.5px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-family: 'Raleway',sans-serif;
    line-height: 26px;
}

footer,header,section {
    display: block;
}

a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline
}

p,ul,ol {
    margin: 18px 0;
    line-height: 22px;
    font-size: 13px;
}

li {
    list-style: none;
}

li.placeholder {
    height: 70px;
    width: 100%;
    font-size: 16px;
}

hr {
    display: block;
    height: 0px;
    line-height: 0px;
    border: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #aaa;
    margin: 16px 30px 20px 0;
    padding: 0;
}

hr.notop {
    margin-top: 0;
}

strong {
    font-weight: 700;
}

::-moz-selection {
    background: #333636;
    color: #00DFFC;
}

::selection {
    background: #333636;
    color: #00DFFC;
}

#documenter_sidebar #documenter_logo {
    background-image: url(../images/logo.png);
    text-align: center
}

a {
    color: #0aa2ee;
}

hr {
    border-top: 1px solid #D4D4D4;
    border-bottom: 1px solid #FFFFFF;
}

.padding-0 {
    padding: 0px
}

.padding-5 {
    padding: 5px
}

.padding-10 {
    padding: 10px
}

.padding-15 {
    padding: 15px
}

.padding-20 {
    padding: 20px
}

.padding-25 {
    padding: 25px
}

.padding-30 {
    padding: 30px
}

.padding-35 {
    padding: 35px
}

.padding-40 {
    padding: 40px
}

.padding-45 {
    padding: 45px
}

.padding-50 {
    padding: 50px
}

.padding-l-0 {
    padding-left: 0px
}

.padding-l-5 {
    padding-left: 5px
}

.padding-l-10 {
    padding-left: 10px
}

.padding-l-15 {
    padding-left: 15px
}

.padding-l-20 {
    padding-left: 20px
}

.padding-l-25 {
    padding-left: 25px
}

.padding-l-30 {
    padding-left: 30px
}

.padding-l-35 {
    padding-left: 35px
}

.padding-l-40 {
    padding-left: 40px
}

.padding-l-45 {
    padding-left: 45px
}

.padding-l-50 {
    padding-left: 50px
}

.padding-r-0 {
    padding-right: 0px
}

.padding-r-5 {
    padding-right: 5px
}

.padding-r-10 {
    padding-right: 10px
}

.padding-r-15 {
    padding-right: 15px
}

.padding-r-20 {
    padding-right: 20px
}

.padding-r-25 {
    padding-right: 25px
}

.padding-r-30 {
    padding-right: 30px
}

.padding-r-35 {
    padding-right: 35px
}

.padding-r-40 {
    padding-right: 40px
}

.padding-r-45 {
    padding-right: 45px
}

.padding-r-50 {
    padding-right: 50px
}

.padding-t-0 {
    padding-top: 0px
}

.padding-t-5 {
    padding-top: 5px
}

.padding-t-10 {
    padding-top: 10px
}

.padding-t-15 {
    padding-top: 15px
}

.padding-t-20 {
    padding-top: 20px
}

.padding-t-25 {
    padding-top: 25px
}

.padding-t-30 {
    padding-top: 30px
}

.padding-t-35 {
    padding-top: 35px
}

.padding-t-40 {
    padding-top: 40px
}

.padding-t-45 {
    padding-top: 45px
}

.padding-t-50 {
    padding-top: 50px
}

.padding-b-0 {
    padding-bottom: 0px
}

.padding-b-5 {
    padding-bottom: 5px
}

.padding-b-10 {
    padding-bottom: 10px
}

.padding-b-15 {
    padding-bottom: 15px
}

.padding-b-20 {
    padding-bottom: 20px
}

.padding-b-25 {
    padding-bottom: 25px
}

.padding-b-30 {
    padding-bottom: 30px
}

.padding-b-35 {
    padding-bottom: 35px
}

.padding-b-40 {
    padding-bottom: 40px
}

.padding-b-45 {
    padding-bottom: 45px
}

.padding-b-50 {
    padding-bottom: 50px
}

.margin-0 {
    margin: 0px
}

.margin-5 {
    margin: 5px
}

.margin-10 {
    margin: 10px
}

.margin-15 {
    margin: 15px
}

.margin-20 {
    margin: 20px
}

.margin-25 {
    margin: 25px
}

.margin-30 {
    margin: 30px
}

.margin-35 {
    margin: 35px
}

.margin-40 {
    margin: 40px
}

.margin-45 {
    margin: 45px
}

.margin-50 {
    margin: 50px
}

.margin-l-0 {
    margin-left: 0px
}

.margin-l-5 {
    margin-left: 5px
}

.margin-l-10 {
    margin-left: 10px
}

.margin-l-15 {
    margin-left: 15px
}

.margin-l-20 {
    margin-left: 20px
}

.margin-l-25 {
    margin-left: 25px
}

.margin-l-30 {
    margin-left: 30px
}

.margin-l-35 {
    margin-left: 35px
}

.margin-l-40 {
    margin-left: 40px
}

.margin-l-45 {
    margin-left: 45px
}

.margin-l-50 {
    margin-left: 50px
}

.margin-r-0 {
    margin-right: 0px
}

.margin-r-5 {
    margin-right: 5px
}

.margin-r-10 {
    margin-right: 10px
}

.margin-r-15 {
    margin-right: 15px
}

.margin-r-20 {
    margin-right: 20px
}

.margin-r-25 {
    margin-right: 25px
}

.margin-r-30 {
    margin-right: 30px
}

.margin-r-35 {
    margin-right: 35px
}

.margin-r-40 {
    margin-right: 40px
}

.margin-r-45 {
    margin-right: 45px
}

.margin-r-50 {
    margin-right: 50px
}

.margin-t-0 {
    margin-top: 0px
}

.margin-t-5 {
    margin-top: 5px
}

.margin-t-10 {
    margin-top: 10px
}

.margin-t-15 {
    margin-top: 15px
}

.margin-t-20 {
    margin-top: 20px
}

.margin-t-25 {
    margin-top: 25px
}

.margin-t-30 {
    margin-top: 30px
}

.margin-t-35 {
    margin-top: 35px
}

.margin-t-40 {
    margin-top: 40px
}

.margin-t-45 {
    margin-top: 45px
}

.margin-t-50 {
    margin-top: 50px
}

.margin-b-0 {
    margin-bottom: 0px
}

.margin-b-5 {
    margin-bottom: 5px
}

.margin-b-10 {
    margin-bottom: 10px
}

.margin-b-15 {
    margin-bottom: 15px
}

.margin-b-20 {
    margin-bottom: 20px
}

.margin-b-25 {
    margin-bottom: 25px
}

.margin-b-30 {
    margin-bottom: 30px
}

.margin-b-35 {
    margin-bottom: 35px
}

.margin-b-40 {
    margin-bottom: 40px
}

.margin-b-45 {
    margin-bottom: 45px
}

.margin-b-50 {
    margin-bottom: 50px
}

.color0-bg {
    background: #3d464d;
}

.color1-bg {
    background: #37363e;
}

.color2-bg {
    background: #58666e;
}

.color3-bg {
    background: #e4e4e4;
}

.color4-bg {
    background: #f5f5f5;
}

.color5-bg {
    background: #399bff;
}

.color6-bg {
    background: #33577b;
}

.color7-bg {
    background: #26a65b;
}

.color8-bg {
    background: #51b7a3;
}

.color9-bg {
    background: #f39c12;
}

.color10-bg {
    background: #ef4836;
}

.color11-bg {
    background: #9a80b9;
}

.color12-bg {
    background: #a2ded0;
}

.color13-bg {
    background: #d2527f;
}

.color14-bg {
    background: #c78568;
}

.color15-bg {
    background: #e99844;
}

#documenter_content {
    position: absolute;
    right: 18px;
    left: 14%;
    padding-left: 10px;
    min-height: 100%;
    height: auto;
    z-index: 1;
    top: 60px;
    padding-left: 30px;
    padding-top: 30px;
}

#documenter_sidebar {
    position: fixed;
    left: 0;
    height: 100%;
    min-height: 100%;
    z-index: 100;
    top: 60px;
    width: 14%;
    display: inline-block;
}

#documenter_sidebar a {
    position: relative;
    z-index: 100;
}

img {
    border: 0;
    max-width: 100%;
}

#documenter_copyright {
    position: absolute;
    bottom: 30px;
    font-size: 11px;
    left: 20px;
    width: 200px;
    text-align: left;
    z-index: 1;
}

noscript {
    display: block;
    position: absolute;
    top: 238px;
    margin: 0 auto;
    width: 800px;
    bottom: 0;
    z-index: 20;
}

noscript p {
    width: 800px;
    font-size: 20px;
    padding-top: 20px;
    margin: 0 auto;
    color: #4D4D4D;
}

.small {
    font-size: 10px;
    letter-spacing: 0;
}

ol li.child_1 a {
    text-align: left!important;
    padding: 4px 15px 5px 40px!important;
}

.font_1 {
    display: block;
    margin: 10px 0 5px 0;
    font-size: 18px;
    font-weight: normal;
}

#documenter_sidebar #documenter_logo {
    display: block;
    height: 20%;
    max-height: 200px;
    min-height: 70px;
    background-position: center center;
    background-repeat: no-repeat;
}

#documenter_sidebar ol {
    font-size: 12px;
    font-weight: normal;
    min-height: 150px;
    height: 75%;
    overflow: hidden;
}

#documenter_sidebar ol li {
    padding: 0;
}

#documenter_sidebar ol a {
    display: block;
    padding: 6px 15px 7px 0;
    text-align: right;
}

#documenter_sidebar ol a:hover,#documenter_sidebar ol a.current {
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
    text-decoration: none;
}

#documenter_sidebar ol li ol,
#documenter_sidebar ol li ol li ol,
#documenter_sidebar ol li ol li ol li ol {
    border-top: 0;
    font-size: 10px;
    min-height: 10px;
    height: auto;
    /*overflow: auto!important;*/
    margin: 0;
    display: none;
}
#documenter_sidebar ol li ol.open,
#documenter_sidebar ol li ol li ol.open,
#documenter_sidebar ol li ol li ol li ol.open {
	display: block;
}

#documenter_sidebar ol li ol li a {
    display: block;
    padding: 4px 15px 5px 40px;
}
#documenter_sidebar ol li ol li ol li a {
    display: block;
    padding: 4px 15px 5px 60px;
}
#documenter_sidebar ol li ol li ol li ol li a {
    display: block;
    padding: 4px 15px 5px 80px;
}
#documenter_sidebar ol li ol li ol li ol li ol li a {
    display: block;
    padding: 4px 15px 5px 100px;
}
#documenter_sidebar ol li ol li ol li ol li ol li ol li a {
    display: block;
    padding: 4px 15px 5px 120px;
}
#documenter_sidebar ol li ol li ol li ol li ol li ol li ol li a {
    display: block;
    padding: 4px 15px 5px 140px;
}

#documenter_cover {
    height: 900px;
}

#documenter_cover li {
    list-style: none!important;
    margin-left: 0!important;
}

#documenter_content section {
    padding-top: 0px;
}

#documenter_content section.nonetop {
    padding-top: 0px;
}

#documenter_content h1 {
    color: #da2c2a;
}

#documenter_content h2 {
    color: #000;
}

#documenter_content .steps td {
    width: 200px;
    padding-right: 30px;
}

#documenter_content .steps td ul li {
    margin-left: 15px;
}

#documenter_content .header-1 {
    font-size: 16px;
    margin-bottom: 18px;
    font-weight: bold;
    color: #fff;
    background: #d46900;
    border-radius: 10px;
    padding: 10px;
}

#documenter_content .header-1 strong {
    border-radius: 30px;
    height: 24px;
    width: 30px;
    display: inline-block;
    background: #fff;
    color: #d46900;
    text-align: center;
    padding: 6px 0 0 0;
}

#documenter_content .header-1 span {
    display: inline-block;
    width: 140px;
}

#documenter_content .link-button {
    display: inline-block;
    padding: 4px 14px;
    color: #d46900;
    background: #fff;
    font-weight: bold;
    border-radius: 20px;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
}

#documenter_content .steps1 ul {
    margin-top: 0px;
}

#documenter_content .steps1 li {
    margin-left: 15px;
}

#documenter_content .steps1 td {
    padding-left: 20px;
    vertical-align: top;
}

#documenter_content .step-header {
    background: #d46900;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 20px;
    width: 120px;
    text-align: center;
}

#documenter_content .step-header strong {
    border-radius: 30px;
    height: 42px;
    width: 60px;
    display: inline-block;
    background: #fff;
    color: #d46900;
    font-size: 20px;
    text-align: center;
    padding: 18px 0 0 0;
    margin-bottom: 10px;
}

#documenter_content p {
    margin: 20px 30px 0 0;
}

#documenter_content ol li {
    list-style: decimal;
    margin-left: 36px;
}

#documenter_content ul li {
    list-style: square;
    margin-left: 36px;
    margin-bottom: 6px;
}
#documenter_content ul.json-dict li {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
}

#documenter_content ul li strong {
    color: #363f48;
}

#documenter_content dl {
}

#documenter_content dl dt {
    font-weight: 700;
    font-size: inherit;
    margin: 0px;
    clear: inherit;
}

#documenter_content table {
    border-collapse: collapse;
    width: 100%;
}

#documenter_content table th {
    font-weight: 700;
}

#documenter_content table th,#documenter_content table td {
    padding: 3px;
    text-align: left;
}

#documenter_content code,#documenter_content pre {
    font-family: "Courier New",Courier,monospace;
    font-size: 14px;
    background: none;
}

#documenter_content .warning {
    padding: 10px 10px 10px 30px;
    border: 1px solid #D5D458;
    background-color: #F0FEB1;
}

#documenter_content .info {
    padding: 10px 30px 10px 30px;
    border: 1px solid #80beff;
    background-color: #c8e3ff;
}

#documenter_content .info p {
    margin: 0 0 15px
}

#documenter_content .info h4 {
    margin: 0 0 18px
}

#documenter_content pre {
    line-height: 19px;
}

#documenter_content .table-list {
    border-collapse: collapse;
}

#documenter_content .table-list td {
    border: 1px solid #ccc;
    padding: 6px;
}

.slides_container {
    width: 800px;
    display: none;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
}

.slides_container div {
    width: 800px;
    height: 600px;
    display: block;
    background: #fff;
}

.pagination {
    list-style-type: none!important;
    margin: 10px 0 0 0;
    padding: 0;
}

#documenter_content .pagination li {
    list-style-type: none!important;
    margin: 0 5px 0 0;
    padding: 0;
    display: inline-block;
}

#documenter_content .pagination li a {
    display: block;
    width: 30px;
    height: 23px;
    border-radius: 40px;
    background: #fff;
    text-align: center;
    padding: 7px 0 0 0;
    font-weight: bold;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
    text-decoration: none;
    font-size: 16px;
    color: #ed5f79;
}

#documenter_content .pagination .current a {
    background: #ed5f79;
    color: #fff;
}

#documenter_sidebar {
    color: #333;
    background: #f5f7fa;
    border-right: 1px solid #e4e4e4;
}

#documenter_sidebar ol a {
    color: #333;
    background: #f5f7fa;
}

#documenter_sidebar ol a {
}

#documenter_sidebar ol {
}

#documenter_sidebar ol a {
    color: #4c555a;
    text-align: left;
    padding-left: 20px;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
}

#documenter_sidebar ol a:hover {
    color: #0099e5;
}

#documenter_sidebar ol a.current {
    color: #0099e5;
}

#documenter_copyright {
    display: block!important;
    visibility: visible!important;
}

div.scrollholder {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: auto;
    height: 100%;
    padding: 0px 0;
}

div.scroll {
    position: absolute;
    width: 100%;
}

div.track {
    position: relative;
    float: right;
    top: 0;
    width: 10px;
    height: 100%;
    font-size: 0;
    z-index: 3;
}

div.drag_bar {
    position: absolute;
    width: 100%;
    height: 100px;
    cursor: pointer;
    z-index: 4;
}

#documenter_content>section {
    padding-bottom: 100px;
}

#apidocs-api a {
    color: #000000;
    text-decoration: none;
}

#apidocs-api {
    box-sizing: border-box;
    color: #4c555a;
    font-size: 13px;
    font-weight: 500;
    line-height: 26px;
    text-transform: none;
}

#apidocs-api .header {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #e4e4e4;
    display: block;
    position: fixed;
    top: 0;
    transition: all .15s ease-out;
    z-index: 10;
    width: 100%;
    height: 60px;
    z-index: 100;
}

#apidocs-api .header__brand {
    display: block;
    padding: 11px 0px;
}

#apidocs-api .header__brand h1 {
    margin: 0px;
}

#apidocs-api .header__nav {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: block;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

#apidocs-api .header__nav--left,.header__nav--right {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#apidocs-api .header__nav--left {
    float: left;
}

#apidocs-api .header__nav--right {
    float: right;
}

#apidocs-api .block--outlined p,#apidocs-api .dx-nav-0 {
    margin-bottom: 0;
}

#apidocs-api .dx-nav-0 {
    list-style: none;
    padding: 0;
    margin: 0px;
}

#apidocs-api .dx-nav-0-item {
    float: left;
    list-style: none;
}

#apidocs-api .dx-nav-0-link {
    color: #6c7378;
    display: block;
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    margin-right: 20px;
    position: relative;
}

#apidocs-api .dx-nav-active .dx-nav-0-link {
    color: #1e2021;
    font-weight: 500;
}

#apidocs-api .dx-nav-0-link:focus,#apidocs-api .dx-nav-0-link:hover {
    color: #1e2021;
    text-decoration: none;
}

#apidocs-api .dx-nav-active .dx-nav-0-link:after {
    background: #1e2021;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 30;
}

#apidocs-api .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

#apidocs-api .dx-search-input,.picker__btn {
    font-weight: 400;
    font-size: 13px;
}

#apidocs-api .dx-search-input {
    border: 1px solid #e4e4e4;
    border-radius: 20px;
    color: #1e2021;
    line-height: 16px;
    padding: 10px 15px;
    text-overflow: ellipsis;
    transition: .15s;
    width: 160px;
}

#apidocs-api input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

#apidocs-api .header__search {
    position: relative;
}

#apidocs-api .button-search {
    background-color: transparent;
    border: none;
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

#apidocs-api .dx-btn {
    background-color: transparent;
    border: 1px solid #0070ba;
    border-radius: 1.5rem;
    box-sizing: content-box;
    color: #0070ba;
    cursor: pointer;
    display: inline-block;
    font-family: 'Raleway',sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    min-width: 50px;
    padding: 6px 20px;
    text-align: center;
    transition: all .15s ease-out;
}

#apidocs-api .dx-btn-primary,.dx-btn.active {
    background-color: #0070ba;
    border-color: transparent;
    color: #fff;
}

#apidocs-api .dx-btn:active,.dx-btn:focus,.dx-btn:hover {
    background-color: rgba(255,255,255,.2);
    border-color: #003087;
    box-shadow: 0 0 0 1px #003087 inset;
    color: #003087;
    text-decoration: none;
}

#apidocs-api .dx-btn-primary:active,#apidocs-api .dx-btn-primary:focus,#apidocs-api .dx-btn-primary:hover,#apidocs-api .dx-btn.active:active,#apidocs-api .dx-btn.active:focus,#apidocs-api .dx-btn.active:hover {
    background-color: #003087;
    color: #fff;
}

#apidocs-api .dx-main-nav-wrapper {
    width: 14.5%;
    display: inline-block;
    position: relative;
}

#apidocs-api .dx-main-nav {
    background: #f5f7fa;
    border-right: 1px solid #e4e4e4;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 60px;
    width: 275px;
}

#apidocs-api .dx-nav-back {
    border-bottom: 1px solid #e4e4e4;
    font-size: 15px;
    padding: 15px 25px;
}

#apidocs-api .dx-nav-back a {
    color: #6c7378;
    padding-left: 16px;
    position: relative;
}

#apidocs-api .dx-nav-back a::before {
    background: url(../images/back-arrow.png) no-repeat;
    content: '';
    height: 1rem;
    left: 0;
    position: absolute;
    top: 30%;
    width: 1rem;
}

#apidocs-api .dx-nav-1-title,.dx-nav-heading {
    color: #1e2021;
    font-family: 'Montserrat',sans-serif;
    font-size: 17px;
    font-weight: 500;
}

#apidocs-api .dx-nav {
    font-size: 15px;
    list-style: none;
    padding-left: 0;
}

#apidocs-api .dx-nav a {
    color: #6c7378;
    display: inline-block;
}

#apidocs-api .dx-nav-active .dx-nav-heading a,#apidocs-api .dx-nav-active-parent .dx-nav-heading a,#apidocs-api .dx-nav-active-parent>a,#apidocs-api .dx-nav-active>a {
    color: #1e2021;
    font-weight: 600;
}

#apidocs-api .dx-nav-1 {
    padding: 25px;
}

#apidocs-api .dx-nav-2 {
    margin-top: 16px;
}

#apidocs-api .dx-nav-2 li,#apidocs-api .dx-nav-3 li,#apidocs-api .dx-nav-4 li,#apidocs-api .dx-nav-5 li {
    margin-top: 10px;
}

#apidocs-api .dx-nav-3,#apidocs-api .dx-nav-4,#apidocs-api .dx-nav-5 {
    border-left: 3px solid #e4e4e4;
    display: none;
    font-size: 13px;
    padding-left: 12px;
}

#apidocs-api .dx-nav-2 li.dx-nav-active .dx-nav-3,#apidocs-api .dx-nav-2 li.dx-nav-active-parent .dx-nav-3,#apidocs-api .dx-nav-3 li.dx-nav-active .dx-nav-4,#apidocs-api .dx-nav-3 li.dx-nav-active-parent .dx-nav-4,#apidocs-api .dx-nav-4 li.dx-nav-active .dx-nav-5,#apidocs-api .dx-nav-4 li.dx-nav-active-parent .dx-nav-5 {
    display: block;
}

#apidocs-api .header-section-wrapper {
    position: fixed;
    top: 60px;
    overflow: hidden;
    float: right;
    text-align: right;
    left: 57.6%;
    right: 0px;
    z-index: 100;
}

#apidocs-api .header-section.header-section-example {
    left: 45%;
    right: 0;
    z-index: 10;
    height: 50px;
    padding-left: 40px;
    background: #242729;
    color: #d0d4d7;
}

#apidocs-api #language .language-toggle {
    overflow: hidden;
    margin: 0px;
}

#apidocs-api #language .language-toggle li {
    float: left;
    position: relative;
    margin: 8px 2px 0;
}

#apidocs-api #language .language-toggle li:first-child {
    margin-left: 0;
}

#apidocs-api #language .language-toggle li .language-toggle-source {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: transparent;
    border: 0;
    cursor: pointer;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

#apidocs-api #language .language-toggle li .language-toggle-button {
    position: relative;
    z-index: 50;
    display: block;
    padding: 0 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #d0d4d7;
    cursor: pointer;
    font-size: 13px;
    line-height: 29px;
}

#apidocs-api #language .language-toggle .language-toggle-source:checked+.language-toggle-button,#apidocs-api #language .language-toggle .language-toggle-source:checked+.language-toggle-button:active,#apidocs-api #language .language-toggle .language-toggle-source:checked+.language-toggle-button:hover {
    background: -webkit-linear-gradient(top,#5abaf0,#4aafed);
    background: linear-gradient(180deg,#5abaf0,#4aafed);
    border-color: transparent;
    color: #fff;
    text-shadow: 0 0 0 hsla(0,0%,100%,.5),0 1px 1px #0e74c3;
    -webkit-animation: languageToggleShows .25s 1 ease-out;
    animation: languageToggleShows .25s 1 ease-out;
}

#apidocs-api #language .language-toggle li:hover .language-toggle-button {
    border-color: #373b3e;
}

#apidocs-api #language .language-toggle li:active .language-toggle-button {
    background: #33373a;
    border-color: #373b3e;
    color: #dde4e8;
}

#apidocs-api .method-area-wrapper {
    width: 85.5%;
    display: inline-block;
    position: relative;
}

#apidocs-api .method .method-area {
    position: relative;
    overflow: hidden;
}

#apidocs-api .method .method-copy {
    float: left;
    padding: 0 0 50px;
    width: 45%;
    z-index: 1;
}

#apidocs-api .method .method-area:first-child .method-copy {
    padding-top: 30px;
}

#apidocs-api .method .method-copy .method-copy-padding {
    padding: 20px 40px;
}

#apidocs-api .method .method-copy p {
    margin-top: 15px;
    margin-bottom: 15px;
}

#apidocs-api .method .method-copy a {
    color: #0099e5;
    text-decoration: none;
}

#apidocs-api #content {
    bottom: 0;
    right: 0;
    position: absolute;
    left: 15%;
    top: 0;
    z-index: 50;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#apidocs-api #background {
    bottom: 0;
    left: 221px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

#apidocs-api #background .background-actual {
    bottom: 0;
    left: 52%;
    position: absolute;
    right: 0;
    top: 0;
    background: #3d464d;
}

#apidocs-api .method {
    position: relative;
    z-index: 2;
    display: block;
    overflow: hidden;
}

#apidocs-api .method:first-child {
    margin-top: 1px;
}

#apidocs-api .method .method-area {
    overflow: hidden;
}

#apidocs-api .method .method-copy {
    float: left;
    padding: 0 0 50px;
    width: 50%;
}

#apidocs-api .method .method-copy .method-copy-padding {
    padding: 20px 40px 20px 0px;
}

#apidocs-api .method .method-copy .method-copy-padding:last-child {
    padding-bottom: 0;
}

#apidocs-api p {
    margin-bottom: 0;
    margin-top: 20px;
}

#apidocs-api .method .method-example {
    position: relative;
    z-index: 2;
    margin-left: 50%;
    padding: 42px 40px 50px 40px;
    color: #dde4e8;
}

#apidocs-api .method .method-area:first-child .method-example {
    /*padding-top: 72px;*/
    min-height: 250px;
}

#apidocs-api .method .method-example .method-example-part {
    padding: 20px 0px;
}

#apidocs-api h1,#apidocs-api h2,#apidocs-api h3,#apidocs-api h4,#apidocs-api h5 {
    color: #292e31;
    font-family: 'Montserrat',sans-serif;
}

#apidocs-api .method .method-example h1,#apidocs-api .method .method-example h2,#apidocs-api .method .method-example h3,#apidocs-api .method .method-example h4,#apidocs-api .method .method-example h5 {
    max-width: 768px;
    color: #d0d4d7;
    line-height: inherit;
}

#apidocs-api .method-example .method-example-part h5 {
    color: #939da3;
}

#apidocs-api p {
    margin-bottom: 0;
    margin-top: 20px;
}

#apidocs-api .method .method-example p {
    max-width: 768px;
}

#apidocs-api .method .method-example .method-example-part .method-example-declaration:last-child,#apidocs-api .method .method-example .method-example-part .method-example-endpoint:last-child,#apidocs-api .method .method-example .method-example-part .method-example-object:last-child,#apidocs-api .method .method-example .method-example-part .method-example-request:last-child,#apidocs-api .method .method-example .method-example-part .method-example-response:last-child {
    padding-bottom: 0;
}

#apidocs-api .method .method-example .method-example-part .method-example-declaration,#apidocs-api .method .method-example .method-example-part .method-example-endpoint,#apidocs-api .method .method-example .method-example-part .method-example-object,#apidocs-api .method .method-example .method-example-part .method-example-request,#apidocs-api .method .method-example .method-example-part .method-example-response {
    display: block;
    padding: 20px 0;
}



#apidocs-api .method .method-example pre {
    margin: 0;
    padding: 20px 40px;
    background: #272b2d;
    border-radius: 5px;
    font-family: Source Code Pro,Menlo,monospace;
    font-size: 13px;
    line-height: 1.5em;
    font-weight: 500;
}

#apidocs-api .method .method-example code,#apidocs-api .method .method-example pre {
    color: #d0d0d0;
    direction: ltr;
    text-align: left;
    white-space: pre-wrap;
    word-break: break-word;
    word-spacing: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

#apidocs-api .method .method-copy .method-list {
    padding: 40px 40px 0;
}

#apidocs-api .method .method-copy .method-list .method-list-group {
    margin-top: 8px;
    border-top: 1px solid #e1e8ed;
}

#apidocs-api .method .method-copy .method-list .method-list-group .method-list-item {
    padding: 17px 0;
    border-bottom: 1px solid #f0f4f7;
    line-height: 24px;
    list-style: none;
}

#apidocs-api .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-label {
    font-size: 13px;
    line-height: 21px;
    word-break: break-all;
    white-space: normal;
}

#apidocs-api .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-label a.header-anchor {
    display: inline-block;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: relative;
    top: 3px;
    width: 15px;
    height: 14px;
    background-image: url(../images/anchor.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    left: -15px;
    margin-right: -15px;
    isolation: isolate;
}

#apidocs-api .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-description {
    font-size: 13px;
    line-height: 21px;
}

#apidocs-api .method .method-copy code,#apidocs-api .method .method-copy tt {
    box-sizing: border-box;
    display: inline-block;
    border-radius: 4px;
    font-family: Source Code Pro,Menlo,monospace;
    font-size: 13px;
    line-height: 20px;
    background: #EDF6FF;
    padding: 2px 2px;
    color: #000;
    border: 1px solid #C3E1FF;
}

#apidocs-api .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-description code,#apidocs-api .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-description tt {
    font-size: 12px;
}

#apidocs-api .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-label .method-list-item-label-details {
    color: #939da3;
    font-size: 12px;
    font-weight: 400;
    text-transform: none;
    word-break: normal;
}

#apidocs-api .method .method-example .table {
    margin: 30px 0 45px;
    max-width: 800px;
    overflow: hidden;
    background: #3d464d;
    border: 1px solid #313a42;
    border-radius: 5px;
    color: #d0d4d7;
}

#apidocs-api .method .method-example .table .table-header {
    padding: 14px 20px;
    border-bottom: 1px solid #373b3e;
    color: #d0d4d7;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
}

#apidocs-api .method .method-example .table .table-header+.table-container {
    border-top: 0;
}

#apidocs-api .method .method-example .table .table-container tr:nth-child(odd) {
    background: rgba(0,0,0,.1);
}

#apidocs-api .method .method-example .table .table-container tr td,#apidocs-api .method .method-example .table .table-container tr th {
    display: table-cell;
    padding: 9px 20px;
    font-size: 13px;
    vertical-align: top;
}

#apidocs-api .method .method-example .table .table-container tr td.table-row-property,#apidocs-api .method .method-example .table .table-container tr th.table-row-property {
    width: 140px;
    font-weight: 600;
    text-align: right;
}

#apidocs-api .method .method-example .table .table-container tr:first-child td,#apidocs-api .method .method-example .table .table-container tr:first-child th {
    padding-top: 16px;
}

#apidocs-api .method .method-example code .token.keyword,#apidocs-api .method .method-example pre .token.keyword {
    color: #ebde68;
}

#apidocs-api .method .method-example .table .table-footer {
    padding: 14px 20px;
    border-top: 1px solid #373b3e;
    font-size: 13px;
    text-shadow: none;
}

#apidocs-api .method .method-example code .namespace,#apidocs-api .method .method-example code .token.punctuation,#apidocs-api .method .method-example pre .namespace,#apidocs-api .method .method-example pre .token.punctuation {
    color: #d0d4d7;
}

#apidocs-api .method .method-example code .token.cdata,#apidocs-api .method .method-example code .token.comment,#apidocs-api .method .method-example code .token.doctype,#apidocs-api .method .method-example code .token.prolog,#apidocs-api .method .method-example pre .token.cdata,#apidocs-api .method .method-example pre .token.comment,#apidocs-api .method .method-example pre .token.doctype,#apidocs-api .method .method-example pre .token.prolog {
    color: #777279;
}

#apidocs-api .method .method-example code .token.operator,#apidocs-api .method .method-example pre .token.operator {
    color: #f099a6;
}

#apidocs-api .method .method-example code .token.json-key,#apidocs-api .method .method-example code .token.string,#apidocs-api .method .method-example pre .token.json-key,#apidocs-api .method .method-example pre .token.string {
    color: #c1ef65;
}

.code-div {
    display: none;
}

.active-code {
    display: block!important;
}

#apidocs-api .include-prompt code.language-bash:before {
    content: '$ ';
    color: #939da3;
}

#apidocs-api section:not(:first-child) .method-example {
    border-top: 1px solid #33383b;
}

#apidocs-api section:not(:first-child) .method-copy {
    border-top: 1px solid #f0f4f7;
}

#api-reference #header .jump-menu {
    display: none;
}

.mm-toggle-wrap {
    display: none;
}

#apidocs-api .method .method-copy .table {
    font-size: 13px;
    font-family: 'Open Sans',sans-serif;
    text-Shadow: 0 0 1px rgba(0,0,0,0.2);
    letter-spacing: normal;
}

#apidocs-api .method .method-copy thead {
    font-weight: 600;
    font-family: 'Montserrat',sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: #37363e;
}

#apidocs-api .method .method-copy .table>thead>tr>th,#apidocs-api .method .method-copy .table>tbody>tr>th,#apidocs-api .method .method-copy .table>tfoot>tr>th,#apidocs-api .method .method-copy .table>thead>tr>td,#apidocs-api .method .method-copy .table>tbody>tr>td,#apidocs-api .method .method-copy .table>tfoot>tr>td {
    padding: 15px;
    line-height: 1.7;
}

#apidocs-api .method .method-copy thead .fa {
    font-size: 16px;
    margin: 0;
}

#apidocs-api .method .method-copy .checkbox input[type=checkbox],#apidocs-api .method .method-copy .checkbox-inline input[type=checkbox],#apidocs-api .method .method-copy .radio input[type=radio],#apidocs-api .method .method-copy .radio-inline input[type=radio] {
    margin-left: 0px;
}

#apidocs-api .method .method-copy .table-hover>tbody>tr:hover {
    background-color: #EFF7FF;
}

#apidocs-api .method .method-copy .table .warning {
    padding: 0px;
    border: 0px solid #D5D458;
}

#apidocs-api .method .method-copy .table .info {
    padding: 0px;
    border: none;
}

.font-w-100 {
    font-weight: 100;
}

.font-w-200 {
    font-weight: 200;
}

.font-w-300 {
    font-weight: 300;
}

.font-w-400 {
    font-weight: 400;
}

.font-w-500 {
    font-weight: 500;
}

.font-w-600 {
    font-weight: 600;
}

.font-w-700 {
    font-weight: 700;
}

.font-w-800 {
    font-weight: 800;
}

.font-w-900 {
    font-weight: 900;
}

#apidocs-api .method .method-copy .color1 p,#apidocs-api .method .method-example .color1 p {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1,.h1,h2,.h2,h3,.h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

h4,.h4,h5,.h5,h6,.h6 {
    margin-top: 15px;
    margin-bottom: 10px;
}

h1,.h1 {
    font-size: 29px;
}

h2,.h2 {
    font-size: 26px;
}

h3,.h3 {
    font-size: 23px;
}

h4,.h4 {
    font-size: 20px;
}

h5,.h5 {
    font-size: 16px;
}

.colorsheme {
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 3px;
    float: left;
    width: 30px;
    height: 30px;
}

.lead {
    line-height: 1.7em;
}

mark {
    background: #FBDDAC;
    padding: 2px 4px;
    border-radius: 3px;
}

#documenter_content .list-inline li {
    margin-left: 0px;
}

blockquote {
    background: #f2f2f2;
    padding: 16px 20px;
    border-radius: 3px;
    border-left: 5px solid #ccc;
    color: #333;
}

blockquote p {
    margin-top: 15px!important;
    margin-bottom: 15px!important;
}

blockquote p:last-child,blockquote ul:last-child,blockquote ol:last-child {
    margin-bottom: 0;
}

blockquote footer,blockquote small,blockquote .small {
    display: block;
    font-size: 12px;
    line-height: 1.42857143;
    color: inherit;
    opacity: 0.6;
    text-shadow: none;
    margin: 0px;
}

blockquote footer:before,blockquote small:before,blockquote .small:before {
    content: '\2014 \00A0';
}

.font-title {
    font-family: 'Montserrat',sans-serif;
}

.label-info {
    background-color: #4eb1ee;
}


.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
.logo-main {
    width: 14%;
    text-align: center;
}




button[type="submit"].btn-default.pull-right {
  width: 76px;
  height: 44px;
}

.preloader {
}

.status {
    width:50px;
    height:30px;
}

.spinner {
  margin: 0px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #4eb1ee;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

#documenter_sidebar ol a.current {
    background: #ffffff;
    border-bottom: 1px solid #d4d4d4;
}
label>span {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
